<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>All Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${events} and ${events.size()}">No events!</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th id="centered">Name</th>
            <th id="centered">Description</th>
            <th id="centered">Where da party at</th>
        </tr>
    </thead>

    <tr th:each="event: ${events}">
        <td id="centered" th:text="${event.getKey}"></td>
        <td id="centered" th:text="${event.getValue}"></td>
        <td id="centered" th:replace="fragments :: address"></td>
    </tr>

</table>

</body>
</html>